body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#flightsform h2 {
  color: white;
}

#flightsform input {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  margin: auto;
  color: rgb(0, 0, 0);
}

#flightsform {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;
  /* border: 1px solid #f1f1f1; */
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  height: 70%;
  padding: 50px;
  text-align: center;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

#flibtn {
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  margin: 1rem;
}

#flibtn:hover {
  background-color: #000;
  color: #fff;
}
