/*
font-family: "Bebas Neue", sans-serif;
font-family: "Noto Sans", sans-serif;

Noto Sans Medium 500 - Sec1
Noto Sans Light 300 - Sec2
Bebas Nue Regular 400 - Hero img
*/

:root {
  --ff-sec1: "Noto Sans", sans-serif;
  --ff-sec1-medium: "Noto Sans Medium", sans-serif;
  --ff-sec2-light: "Noto Sans Light", sans-serif;
  --ff-Hero-Regular: "Bebas Neue", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.section1 {
  background-image: url(img/white\ houses\ at\ sea-side.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  transition: opacity 0.3s ease;
  position: relative;
}

.section1::before {
  .section1::before {
    content: ""; /* Create a pseudo-element */
    position: absolute; /* Position it absolutely */
    top: 0;
    left: 0;
    width: 100%; /* Cover the entire container */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Add transition for smooth effect */
  }
}

.navbar {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.navbar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logo {
  margin: auto;
}

.sec1-text {
  font-family: var(--ff-sec1-medium);
  font-size: 50px;
  padding: 50px;
  text-align: center;
}

.wrapper:hover .section1::before {
  opacity: 1;
}
