/*
font-family: "Bebas Neue", sans-serif;
font-family: "Noto Sans", sans-serif;

Noto Sans Medium 500 - Sec1
Noto Sans Light 300 - Sec2
Bebas Nue Regular 400 - Hero img
*/

:root {
  --ff-sec1: "Noto Sans", sans-serif;
  --ff-sec1-medium: "Noto Sans Medium", sans-serif;
  --ff-sec2-light: "Noto Sans Light", sans-serif;
  --ff-Hero-Regular: "Bebas Neue", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.section1 {
  background-image: url(img/white\ houses\ at\ sea-side.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.navbar {
  background-color: transparent;
}

.logo {
  margin: auto;
}

.sec1-text {
  font-family: var(--ff-sec1-medium);
}
