/*
font-family: "Bebas Neue", sans-serif;
font-family: "Noto Sans", sans-serif;

Noto Sans Medium 500 - Sec1
Noto Sans Light 300 - Sec2
Bebas Nue Regular 400 - Hero img
*/

:root {
  --ff-sec1: "Noto Sans", sans-serif;
  --ff-sec1-medium: "Noto Sans Medium", sans-serif;
  --ff-sec2-light: "Noto Sans Light", sans-serif;
  --ff-Hero: "Bebas Neue", sans-serif;
  --f-main: #fff;
  --f-semi-color: rgb(126, 126, 126);
  --f-solid-color: #000;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-body {
  font-family: var(--ff-sec1-medium);
  color: var(--f-main);
}

.section1 {
  background-image: url(img/white\ houses\ at\ sea-side.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  transition: opacity 0.3s ease;
  position: relative;
  z-index: 12;
}

.overlay-black {
  height: 650px;
  background-color: rgba(0, 0, 0, 0.202);
  z-index: 10;
  display: flex;
  position: absolute;
  width: 100%;
}

.navbar {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px;
}

.sign-button button {
  padding: 10px 17px;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sign-button button:hover {
  background-color: #000;
  color: #fff;
}

.choose-button button {
  cursor: pointer;
  padding: 10px 17px;
  text-align: center;
  background-color: transparent;
  border: #fff solid 1px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.choose-button button:hover {
  background-color: #fff;
  color: #000;
}

.sec1-text {
  font-size: 100px;
  padding: 100px;
  text-align: center;
  font-weight: 700;
}

.section2 {
  color: var(--f-semi-color);
  font-family: var(--ff-sec2-light);
  margin: 50px auto;
  padding-bottom: 70px;
  max-width: 1200px;
  overflow: auto;
}

.sec2-text {
  display: flex;
  flex-direction: column;
}

.button-text-sec2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-text-sec2 button {
  cursor: pointer;
  margin-top: 40px;
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-text-sec2 button:hover {
  background-color: #000;
  color: #fff;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

span {
  color: var(--f-solid-color);
  font-size: 60px;
  font-weight: 200px;
}

.section2 img {
  border-radius: 10px;
  height: auto;
  width: 370px;
  margin: 50px 15px 15px 0;
  margin-bottom: 60px;
  float: left;
}

.hero-image {
  background-image: url(img/sea.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.hero-image p {
  font-family: var(--ff-Hero-Regular, "Bebas Neue", sans-serif);
  color: var(--f-main, #fff);
  font-size: 100px;
  text-align: center;
}

.hero-image button {
  cursor: pointer;
  background-color: #fff;
  font-family: var(--ff-sec1-medium);
  border-radius: 20px;
  padding: 13px;
  border: none;
  font-size: 15px;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-image button:hover {
  background-color: #000;
  color: #fff;
}
