/* CityDetail.css */

.outer-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.city-img, .info-img {
    position: relative;
    width: calc((100vw)/2);
    height: 100vh;
}

.city-img img, .info-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
}

.info-img {
    position: relative;
}

.information {
    background-color: rgba(0, 0, 0, 0.74);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;  /* to cover the whole container */
    left: 0;
    right: 0;
    bottom: 0;
    color: white; 
}

.information h2{
    font-size: 5rem;
    text-align: center;
}

.information span
{
    color: blue;
    font-size: 1rem;
}

.ff h3{
    color: red;
}
