* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

<<<<<<< HEAD
.outer-main
{
    display:flex;
    flex-direction: column;
    bottom: 0px;
    width: 100%;
    margin-top: 1rem;
    position: relative;
=======
.outer-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  bottom: 0;
  position: relative;
>>>>>>> 45124a9559af1904baf4c3115e2cb7ab495d5a2a
}
.main {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
  background-color: #0f0228;
  padding-bottom: 1rem;
}
.main li {
  margin-top: 0.3rem;
  font-size: 18px;
  opacity: 0.5;
  cursor: pointer;
}

.main li:hover {
  opacity: 1;
}

.fhead span {
  opacity: 1;
  margin-top: 2rem;
  color: white;
  font-size: 25px;
  position: relative;
  cursor: pointer;
  padding-bottom: 0.3rem;
}
.fhead span::after {
  content: "";
  width: 0px;
  height: 2.5px;
  background-image: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s ease-in-out;
}
.fhead span:hover::after {
  width: 100%;
}

.flogo {
  position: relative;
  margin-top: 1.2rem;
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.box {
  width: 150px;
  height: 100px;
}

#copy {
  background-color: #0f0228;
  color: white;
  text-align: center;
  font-size: small;
  padding-bottom: 35px;
}

#copy p {
  opacity: 0.8;
}

.ficons {
  background-color: antiquewhite;
  height: auto;
  background-color: #0f0228;
  color: rgb(255, 254, 254);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  gap: 2.5rem;
  padding-bottom: 1.5rem;
}

.ficons a {
  transition: transform 1s;
}
.ficons a:hover {
  transform: translateY(-20px) scale(1.1);
  color: rgb(255, 255, 0);
}
